<div class="search-container">

  <h2>Hotel Search</h2>

  <!-- Search -->
  <div class="search-box">

    <input
      type="text"
      [(ngModel)]="searchTerm"
      placeholder="Search hotel by name"
      (keyup.enter)="searchHotels()"
    />

    <button
      type="button"
      (click)="searchHotels()">
      Search
    </button>

  </div>


  <!-- Loading -->
  <div
    class="loading"
    *ngIf="loading">

    Loading hotels...

  </div>


  <!-- Error -->
  <div
    class="error"
    *ngIf="errorMessage">

    {{ errorMessage }}

  </div>


  <!-- Hotel List -->
  <div
    class="hotel-list"
    *ngIf="!loading && paginatedHotels.length > 0">

    <div
      class="hotel-row"
      *ngFor="let hotel of paginatedHotels">

      <!-- Hotel Name -->
      <a
        class="hotel-name"
        [routerLink]="['/hotels', hotel.id, 'home']">

        {{ hotel.name }}

      </a>


      <!-- Provider -->
      <span class="hotel-provider">

        {{ hotel.provider }}

      </span>


      <!-- Location -->
      <span class="hotel-location">

        {{ hotel.basicInfo.location }}

      </span>

    </div>

  </div>


  <!-- No Results -->
  <div
    class="no-results"
    *ngIf="
      !loading &&
      !errorMessage &&
      paginatedHotels.length === 0
    ">

    No hotels found.

  </div>


  <!-- Pagination -->
  <div
    class="pagination"
    *ngIf="
      !loading &&
      filteredHotels.length > 0
    ">

    <button
      type="button"
      (click)="previousPage()"
      [disabled]="currentPage === 1">

      Previous

    </button>


    <span>

      Page {{ currentPage }}
      of
      {{ totalPages }}

    </span>


    <button
      type="button"
      (click)="nextPage()"
      [disabled]="currentPage === totalPages">

      Next

    </button>

  </div>

</div>